<div class="event">
  <div class="content">
    <div class="summary">
      <b>
        <i class="userleft"><%= message.user.username %></i>:</b>
      <%= message.msg %>
      <div class="date">
        <%= time_ago_in_words(message.created_at) %> ago
      </div>
    </div>
  </div>
</div>
    
