
<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical pointing menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui card fluid raised chatbox">
      <div class="content">
        <div class="ui small feed">
          <h4 class="ui header">Your Rumies</h4>
          <!--          here the messages is the instance variable of message.all-->
          <%= render @messages %>


        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message,html:{class:'ui reply form',role:'form'},url:message_path) do |f| %>
          <div class="field">
            <div class="ui blue labeled submit icon input">
              <%= f.text_field :msg,autofocus: true,autocomplete:"off" %>
              <%= f.button '<i class="icon red fa-paper-plane"></i>'.html_safe,class:'writebtn',id:'sbmtbtn' %>

            </div>
          </div>
          <% end %>
      </div>

    </div>

  </div>

</div>
