<div class="container ui" style="margin-top:30px">

  <%= image_tag('rumi.png',class:"mt-3 ui centered medium image") %>
  <h2 class="ui center aligned icon header" style="margin-top:-10px">
    Say a Rumi
  </h2>
</div>

<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical pointing menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui card chatbox">
      <div class="content">
        <div class="ui small feed">
          <h4 class="ui header">Followers Activity</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a>Elliot Fu</a>
                added
                <a>Jenny Hess</a>
                as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a>Stevie Feliciano</a>
                added
                <a>Elliot Fu</a>
                as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a>Helen Troy</a>
                added
                <a>Christian Rocha</a>
                as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a>Christian Rocha</a>
                signed up for the site.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
