@import 'semantic-ui';


.chatbox {
  min-width: 100%;
  height: 500px;
}

.userleft {
  color: #ff2b2b;
}

.redbtn {
  background-color: #ff2b2b;
}
.writebtn{
  background: none;
  border: none;
  margin-left: -35px;
  cursor: pointer ;
}
#msg__container
{
  height: 15em;
  overflow: auto;
}
.custompadding
{padding: 20px;

}
#centerallign
{
  font-size: 20px;
   position: absolute;
    height: 93%;
    bottom: -35%;
    left: 1%;
    z-index: 1000;
}
#centerallign img
{
  width: 74%;
}
#lovecenter
{
  position: absolute;
    height: 93%;
    bottom: -16%;
    left: 41%;
    z-index: 1000;
}
#lovecenter > img
{
  width: 35%;
}